<div class="container">
  <div class="img">
    <img src="../../../assets/img/login-mobile.svg" />
  </div>
  <div class="login-container">
    <form [formGroup]="form" *ngIf="form">
      <h2>Cadastre-se</h2>
      <div class="input-div one">
        <div class="i">
          <i class="fas fa-user"></i>
        </div>
        <div>
          <input
            class="input"
            type="text"
            formControlName="username"
            name="username"
          />
        </div>
      </div>
      <div class="input-div two">
        <div class="i">
          <i class="fas fa-envelope"></i>
        </div>
        <div>
          <input
            class="input"
            type="email"
            formControlName="email"
            name="email"
            placeholder="Email"
          />
        </div>
      </div>
      <div class="input-div one">
        <div class="i">
          <i class="fas fa-key"></i>
        </div>
        <div>
          <input
            class="input"
            type="password"
            formControlName="password"
            name="password"
            placeholder="Senha"
          />
        </div>
      </div>
      <div class="btn-container">
        <button  class="btn-action" (click)="register()">Cadastrar</button>
      </div>
      <div class="account">
        <p>Já possui conta ?</p>
        <a href="" routerLink="/login">Entrar</a>
      </div>
      <!-- The Modal -->
    </form>
  </div>
</div>
